<div class="product-card" [attr.data-items-per-row]="itemsPerRow">
  <div class="product-card__product">
    <div class="product-card__img">
      <!-- wrap-marks -->
      <div class="prod-img wrap-marks" >
        <img class="product-card__item" src="{{item.image}}" alt="">
         
      <!-- TOP RIGHT ICONS IN BULLETS-->
        <ul class="list-marks list-marks--top-right flex flex-align-items-center">
          <li class="list-marks__item flex flex-align-items-center flex-justify-center">
              <img class="list-marks__item--favourite" src="assets/images/favourite.png" *ngIf="item.isFavourite" (click) = "favourite(false)">
              <img class="list-marks__item--favourite" src="assets/images/noFavourite.png" *ngIf="!item.isFavourite" (click) = "favourite(true)">
          </li>
        </ul>
      </div>
    </div>

    <!-- FOOTER product info -->
    <div class="product-card__info">
      <!-- Price -->
      <p class="product-card__price ellipsis">
        {{item.price | currency:'EUR'}} 
      </p>
      <!-- Title -->
      <p class="product-card__title">
          {{item.title}}
      </p>
      <!-- Email -->      
      <p class="product-card__email">
        {{item.email}}
      </p>
      <!-- Description -->
      <p class="product-card__description">
        {{item.description}}
      </p>
  </div>
</div>

