@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';


$module: 'product-card';

.#{$module} {
    max-width: 27.5rem;
    margin-right: 0rem;
    .list-marks {
      &--top-right {
        .list-marks__item {
          background: $white;
          border-radius: 50%;
          height: 3rem;
          width: 3rem;
          &--favourite {
            height: 2rem;
            width: 2rem;
            cursor: pointer;
          }
        }
      }
    }

    .prod-img {
        height: 27.5rem;
        width: 27.5rem;
        overflow: hidden;
        padding-bottom: 0%;
        position: relative;
     }

    &__item {
        width:100%;
        height:100%;
        object-fit: cover;
    }

    &__img {
        height: 27.5rem;
        width: 27.5rem;
    }
      
    &__product {
      opacity: 1;
      display: block;
    }
  
    &__info {
      margin-top: 1.2rem;
      line-height: 2.5rem;
      letter-spacing: .30px;
      height: 15rem;
    }
  
    &__title {
      color: $woodsmoke;
      font-weight: 300;
      font-size: $zetta;
      margin-bottom: .3rem;
    }
  
    &__description {
      color: $woodsmoke;
      font-weight: 200;
      font-size: $nano;
    
      @include multiLineEllipsis($lineHeight: 1.5em, $lineCount: 3, $bgColor: white);  
      
    }
  
    &__price {
      font-weight: bold;
      font-size: $meta;
      margin-bottom: .3rem;
    }

    &__email {
      color: $woodsmoke;
      font-style: italic;
      font-weight: 200;
      font-size: $nano;
      margin-bottom: .3rem;
    }
  }
  