<div class="favourite-product-card" [attr.data-items-per-row]="itemsPerRow">
    <div class="favourite-product-card__product">
      <div class="favourite-product-card__img">
          <img class="favourite-product-card__item" src="{{item.image}}" alt="">
      </div>
      <div class="favourite-product-card__info txt-left">
        <div class="favourite-product-card__title_container">
            <p class="favourite-product-card__title_container--title">
            {{item.title}}
            </p>
        </div>
        <div class="favourite-product-card__favourite">
            <img class="favourite-product-card__favourite--icon" src="assets/images/favourite.png" (click) = "favourite(false)">
        </div>
      </div>
  </div>
  
  
  