@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';


$module: 'favourite-product-card';

.#{$module} {
   
    &__product {
        opacity: 1;
      }

    &__item {
        width:100%;
        height:100%;
        object-fit: cover;
    }

    &__img {
        height: 10rem;
        width: 10rem;
        float: left;
    }
        
    &__info {
      margin-top: 0.5rem;
      letter-spacing: .30px;
      height: 10rem;
      float: left;
      margin-left: 4rem;
    }

    &__title_container{
        float: left;
        &--title {
            color: $woodsmoke;
            font-weight: 300;
            font-size: $zetta;
            margin-bottom: .3rem;
        }
    }

    &__favourite {
        height: 2rem;
        float: right;
        margin-left: 4rem;
        &--icon {
            height: 100%;
            width: 2rem;
            cursor: pointer;
        }
    }
  }
  