<div class="container-fluid flex">
  <div class="product-list__search_container">
    <search (searchValue)="searchProducts($event)"></search>
  </div>
  <div class="product-list__sort_container">
    <collapsible *ngIf="collapsibleItems" [disabled]="filteredItemsArray.length === 0" [title]="'COLLAPSIBLE.ORDERBY' | translate" 
    [text]="selectedCollapsibleOption.title" [items]="collapsibleItems" (onSelected)="onOrderItemsBy($event)"></collapsible>
  </div>
  <div class="product-list__favourite_link_container txt-right txt-light">
    <button class="product-list__button" type="button" (click) = "openModal()" [disabled]="favouriteItemsArray.length === 0">{{ "FAVOURITE.LINK" | translate}}</button>
  </div>
</div>
<div class="product-list">
     <!-- main -->
    <main class="container-fluid product-list__main-container">
     
        <!-- skeleton -->
      <div *ngIf="showLoading">
        <div class="product-list__grid mb-8" [attr.data-items-row]="itemsPerRow">
          <skeleton-loading-list *ngFor="let item of [].constructor(5)"></skeleton-loading-list>
        </div>
      </div>
      <ng-container *ngIf="!showLoading">
         <!-- warning box: no results -->
         <div class="warning-box txt-light mt-4" *ngIf="filteredItemsArray.length === 0">
          <div class="warning-box__body" >
            <p>{{ "PRODUCTLISTVIEW.SORRY" | translate }}<br> {{ "PRODUCTLISTVIEW.NORESULTS" | translate }}</p>
          </div>
        </div>
        <ng-container *ngIf="filteredItemsArray.length > 0">
        <!-- grid items -->
          <div>
            <div class="product-list__grid mb-2" [attr.data-items-row]="itemsPerRow">
              <product-card *ngFor="let product of filteredItemsArray | slice:0:numItemsShow" [item]="product"
                [itemsPerRow]="itemsPerRow" (addRemoveFavourite)="addRemoveFavourite($event)">
              </product-card>
            </div>
          </div>
          <view-more-items [showPerPage]="itemsPerRow" [itemsShowing]="numItemsShow" [totalItems]="filteredItemsArray.length" (onNextPage)="nextPage()"></view-more-items>
        </ng-container>
      </ng-container>
    </main>
</div>
<modal *ngIf="showModal" (onClose)="onCloseModal($event)">
  <modal-header>
    <p class="product-list__modal-txt product-list__modal-txt--h1">{{'FAVOURITE.TITLE'|translate}}</p>
    <div class="product-list__search_favourite_container"><search (searchValue)="searchFavouriteProducts($event)"></search></div>
</modal-header>
<modal-body>
    <div class="separation-line mt-10"></div>
    <favourite-list [productList]="filteredFavouriteItemsArray" (deleteFavourite)="addRemoveFavourite($event)"></favourite-list>
    <div class="separation-line"></div>
</modal-body>
<modal-footer>
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <button class="product-list__button" type="button" (click)="onCloseModal($event)">{{ "FAVOURITE.CLOSE" | translate}}</button>

        </div>
    </div>
</modal-footer>
</modal>  
