@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';
$module: 'product-list';

.#{$module} {
    padding-top: 2rem;

    &__search_container {
      width: 65%;
      float: left;
    }

    &__search_favourite_container {
      width: 100%;
      float: left;
    }

    &__sort_container {
      width: 25%;
      float: left;
      padding-top: 2.5rem;
    }

    &__favourite_link_container {
      width: 10%;
      float: right;
      padding-top: 2.5rem;
    }

    &__main-container {
        z-index: 98;
      }

      &__grid {
        display: grid;
        grid-gap: $atto $yotta; // grid-gap: separation btwen rows    separation btwen cols
    
        @for $i from 2 to 7 {
          &[data-items-row] {
            @include append-attr($i) {
              grid-template-columns: repeat($i, minmax(0, 1fr));
            }
          }
        }
      }

      &__button {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: pointer;
        text-align: center;
        color: #121314;
        display: inline-block;
        box-shadow: inset 0 0 0 1px #121314;
        -webkit-transition: box-shadow 167ms ease-in;
        transition: box-shadow 167ms ease-in;
        border-radius: 0;
        border: 0;
        -webkit-appearance: none;
        background: 0 0;
        padding: 0;
        overflow: visible;
        font-size: $zetta;
        height: $deca;
        line-height: $deca;
        min-width: 12.8rem;
        &[disabled] {
          color: $bombay;
        }
        &[disabled]:hover {
          cursor: default;
        }
      }
      &__modal-txt {
        font-size: $femto;
        line-height: 1.3;
    
        &--h1 {
          font-weight: 700;
        }
      }
      
}