@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';

$module: 'modal';

.#{$module} {
  position: relative;
  width: 50%; //45.5rem;
  z-index: 1000;

  &__content {
    background-color: $white;
    padding: 2rem 4.8rem 2rem;
    position: relative;
    text-align: center;

    .table-info__content {
      border-left: 0;
    }
  }

  &__txt {
    font-size: $femto;
    line-height: 1.3;

    &--h1 {
      font-weight: 700;
    }

    &--h2 {
      margin-top: 1.4rem;
    }

    &--h3 {
      font-size: $yotta;
      font-weight: 300;
      margin-top: 2.4rem;
      text-align: left;

      &+& {
        margin-top: 0;
      }
    }

    &--h4 {
      font-size: $zetta;
      font-weight: 300;
    }

    &--body {
      font-size: $base;
      font-weight: 300;
      line-height: 1.5;
    }
  }

  &__list {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: center;
    max-height: 12rem;

    &-item {
      font-size: $yotta;
      font-weight: 300;
      line-height: 24px;
      padding-left: .8rem;
      position: relative;
      margin-right: 2.4rem;

      &::before {
        background-color: $woodsmoke;
        content: '';
        height: .2rem;
        left: 0;
        position: absolute;
        top: 1.1rem;
        width: .2rem;
      }
    }
  }

  &__close {
    position: absolute;
    right: .8rem;
    top: .8rem;

    &:hover {
      color: $abbey;
      transition: color $time-015s ease;
    }
  }

  &__btn {
    &+& {
      margin-left: 1.6rem;
    }
  }

  &__feedback {
    display: block;
    text-align: center;
    position: relative;

    &--ico {
      i[class*='o-mngIco'] {
        width: 3.2rem;
        height: 3.2rem;
      }
    }
  }

  &__scroll {
    clear: both;
    font-size: $zetta;
    height: 19rem;
    position: relative;

    &::after {
      position: absolute;
      width: calc(100% - 17px);
      height: 1.6rem;
      background: -webkit-linear-gradient(top, rgba($white, 0) 0%, rgba($white, 1) 100%);
      background: linear-gradient(to bottom, rgba($white, 0) 0%, rgba($white, 1) 100%);
      content: '';
      bottom: 0;
      left: 0;
    }

    &--auto {
      height: auto;
      max-height: 19rem;

      .#{$module}__scroll-inner {
        height: auto;
        max-height: 19rem;
      }
    }

    &--big {
      height: 35rem;

      .#{$module}__scroll-inner {
        height: 35rem;
        padding-right: 1.2rem;
      }

      p {
        margin-bottom: 1.4rem;
      }
    }

    &--extra-big {
      height: auto;
      max-height: 31rem;

      .#{$module}__scroll-inner {
        height: auto;
        max-height: 29.5rem;
        padding-right: 1.2rem;
      }

      &::after {
        display: none;
      }
    }
  }

  &__scroll-inner {
    @include scrollVerticalStyle;
    height: 19rem;
    overflow-y: auto;
    text-align: justify;
  }

  &__scroll-warning {
    margin-bottom: 1.6rem;
  }

  &--img {
    width: 62rem;

    .#{$module}__content {
      float: right;
      padding: 3.2rem 3.5rem 3.2rem calc(40% + 3.5rem);
      width: 100%;

      &::before {
        background-size: cover;
        content: '';
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 40%;
      }
    }

    .#{$module}__feedback {
      &--ico {
        margin-top: 4.8rem;
      }
    }
  }

  &--big {
    width: 62rem;
  }

  &--fit {
    width: fit-content;
  }

  &--extra-big {
    min-width: 96rem;
    width: 90%;

    .#{$module}__content {
      // padding-bottom: 4.8rem;
    }

    @media all and (min-width: $screen-xlg) {
      .#{$module}__content {
        padding: 4rem 4rem 4.8rem;
      }
    }
  }

  &--error {
    z-index: 9999999;
  }
}

.#{$module}-body__content {
  margin: auto;
  width: 30rem;

  .feedback {
    font-size: 1.2rem;
    line-height: 1.4rem;
    padding-left: 3rem;
    text-align: left;
  }
}

@media only screen and (min-device-width: $screen-sm) and (max-device-width: $screen-md) and (orientation: landscape) {
  modal {
    &.no-fixed {
      .overlay {
        position: absolute;
        width: auto;
        left: 50%;
        height: auto;
        top: 50%;
        margin-left: -31rem;
        margin-top: -20rem;
        background: transparent;
        overflow: visible;
      }
    }
  }
}
