<div class="overlay a-fade-in in-modal flex" *ngIf="visible">
    <div class="modal" [ngClass]="class" role="dialog">
      <div class="modal__content a-from-top" [class.a-to-top]="isClassVisible">
        <ng-content></ng-content>
      </div>
    </div>
  </div>