<div class="collapsible no-select" [class.collapsible--big]="classBig" [class.is-open]="openCollapsible" [class.is-disabled]="disabled">
    <div class="collapsible__title flex flex-align-items-baseline" >{{ title }}
        <div class="collapsible__collapsible flex flex-align-items-center ml-1" (click)="openCloseCollapsibleFunction()">
          <span class="collapsible__sort txt-strong">{{ text }}</span>
          <i class="o-Ico__arrow_down collapsible__icon"></i>
        </div>
    </div>
    <ul class="collapsible__content">
      <li *ngFor="let item of items" [class.collapsible__item--active]="item.title == text" class="collapsible__item"
        (click)="selectItem(item.id)">{{ item.title }}</li>
    </ul>
  </div> 
  