@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';

$module: 'collapsible';

.#{$module} {
  position: relative;
  font-weight: 300;
  z-index: 4;
  font-size: $zetta;
  cursor: default;
  display: inline-block;

  &__title {
    text-align: right;
    position: relative;
    line-height: 1;
  }

  &__collapsible {
    &:hover {
      color: $abbey;
      cursor: pointer;
      transition: color $time-015s ease;

      .o-Ico__arrow_down {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolygon fill='%23525457' points='11.34 2.71 5.98 7.96 0.66 2.75 0 3.42 5.98 9.29 12 3.39 11.34 2.71'/%3E%3Crect fill='none' width='12' height='12' /%3E%3C/svg%3E");
      }
    }
  }

  &__content {
    font-size: $zetta;
    font-weight: 300;
    background: $white;
    white-space: nowrap;
    box-shadow: 0 3px 7px -3px rgba($black, .4);
    visibility: hidden;
    position: absolute;
    top: 2rem;
    right: 0;
    margin-top: .05rem;
    width: fit-content;
    z-index: 10;
    transform: translateY(-1rem);
  }

  &__item {
    padding: 1.2rem 1.6rem;
    cursor: pointer;

    &:hover {
      background-color: rgba($concrete, .5);
      transition-duration: .15s;
    }
  }

  &__icon {
    margin-left: .4rem;
  }

  &.is-open {
    .#{$module}__content {
      visibility: visible;
      z-index: 10;
      transform: translateY(0%);
      transition: all $time-03s ease-in-out 0s, visibility 0s linear $time-03s, z-index 0s linear .01s;
      transition-delay: 0s, 0s, $time-03s;
    }
  }

  &--big {
    z-index: 5;
    font-size: $base;

    .#{$module}__icon {
      font-size: $base;
    }

    .#{$module}__title {
      padding-right: 1.8rem;
    }
  }

  &.is-disabled {
    .#{$module}__title {
      color: $bombay;
      pointer-events: none;
    }
  }

  .o-Ico__arrow_down {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12'%3E%3Cpolygon fill='%23121314' points='11.34 2.71 5.98 7.96 0.66 2.75 0 3.42 5.98 9.29 12 3.39 11.34 2.71'/%3E%3Crect fill='none' width='12' height='12' /%3E%3C/svg%3E");
    height: $zetta;
    width: $zetta;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    -webkit-transition: -webkit-transform .15s ease-out;
    transition: -webkit-transform .15s ease-out;
    transition: transform .15s ease-out;
    transition: transform .15s ease-out,-webkit-transform .15s ease-out;
    cursor: pointer;
    background-size: cover;
    display: inline-block;
    -webkit-box-flex: 0;
    flex: none;
   }
}
