<div class="skeleton-loading-list">
    <div class="product-list-item__product">
  
      <!-- image -->
      <div class="prod-img a-skeleton"></div>
  
      <!-- FOOTER product info -->
      <div class="mt-2">
  
        <!-- price -->
        <div class="skeleton-loading-list__data skeleton-loading-list__data--sm a-skeleton mt-1"></div>

        <!-- Title -->
        <div class="skeleton-loading-list__data skeleton-loading-list__data--md a-skeleton mt-2"></div>
  
        <!-- email -->
        <div class="skeleton-loading-list__data skeleton-loading-list__data--sm a-skeleton mt-2"></div>

        <!-- Description -->
        <div class="skeleton-loading-list__data skeleton-loading-list__data--lg a-skeleton mt-1"></div>
  
      </div>
      <!-- ./ END FOOTER product info -->
  
    </div>
  </div>