@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';

.skeleton-loading-list {
  &__data {
    display: block;
    height: $zetta;

    &--sm {
      width: 30%;
    }

    &--md {
      width: 50%;
    }

    &--lg {
      width: 70%;
    }
  }
}
