<div class="view-more-items mt-2 txt-zetta txt-center mb-5">
    <div class="txt-zetta txt-light">{{'VIEWITEMS.SHOWING' | translate:{x:itemsShowing, y: totalItems} }}</div>
    <progress max="100" [value]="percentage">
        <div class="progress-bar">
            <span class="progress-value" [style.width]="percentage + '%'">Progress:{{percentage + '%'}} </span>
        </div>
    </progress>
    <div *ngIf="showMoreNumber" class="txt-zetta view-more-items__link no-select" (click)="nextPage()">{{'VIEWITEMS.SHOW' | translate:{x:showMoreNumber} }}</div>
  </div>  