@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';

$module: 'view-more-items';

.#{$module} {
  progress[value] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    width: calc(100% / 4);
    height: .4rem;
    margin: .4rem 0 .8rem;
    color: $bombay;

    &::-webkit-progress-bar {
      background-color: $concrete;
    }

    &::-webkit-progress-value {
      background-color: $bombay;
    }

    &::-moz-progress-value {
      background-color: $concrete;
    }

    &::-moz-progress-bar {
      background-color: $bombay;
    }

    &::-o-progress-bar {
      background-color: $concrete;
    }

    &::-o-progress-value {
      background-color: $bombay;
    }

    &::-ms-progress-bar {
      background-color: $concrete;
    }

    &::-ms-progress-value {
      background-color: $bombay;
    }
  }

  /*
    Simulación para exploradores antiguos. Los modernos lo ignorarán  pero los antiguos lo representarán.
    */
  .progress-bar {
    border: 0;
    width: calc(100% / 4);
    height: .4rem;
    background-color: $concrete;
    position: relative;
    display: block;
    margin: .4rem auto .8rem;
    transition: all $time-03s ease-in-out;

    .progress-value {
      height: .4rem;
      background-color: $bombay;
      display: block;
      text-indent: -9999px;
    }
  }

  &__link {
    width: fit-content;
    margin: 0 auto;

    &:hover {
      cursor: pointer;
      color: $nevada;
      transition-duration: .15s;
    }
  }
}

// animation 
@keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-webkit-keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@-moz-keyframes progress {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}
