@-ms-viewport {
  width: device-width;
}

html {
  font-size: 62.5%;

  &::before {
    display: none;
  }

  @media all and (min-width: $screen-sm) {
    &::before {
      content: "SM";
    }
  }

  @media all and (min-width: $screen-md) {
    &::before {
      content: "MD";
    }
  }

  @media all and (min-width: $screen-lg) {
    &::before {
      content: "LG";
    }
  }

  @media all and (min-width: $screen-xlg) {
    // font-size: 72.2%;

    &::before {
      content: "XLG";
    }
  }

  @media all and (min-width: $screen-hd) {
    // font-size: 78.4%;

    &::before {
      content: "HD";
    }
  }
}

body {
  font-family: $txt-body;
  color: $woodsmoke;
  background-color: $white;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  @media all and (min-width: $screen-md) {
    &::after {
      display: none;
    }
  }
}
