@import '../../tools/partials/tools.mixins';

// ==========================================================================
// FLOATS HELPERS
// ==========================================================================

.ftl {
  float: left;
}

.ftr {
  float: right;
}

// ==========================================================================
// ALIGN HELPERS
// ==========================================================================

.mid {
  vertical-align: middle;
}

.btm {
  vertical-align: bottom;
}

// ==========================================================================
// DISPLAY HELPERS
// ==========================================================================

.inline-block {
  display: inline-block;
}

.d-block {
  display: block;
}

.o-hidden {
  overflow: hidden;
}

// ==========================================================================
// POSITION HELPERS
// ==========================================================================

.p-left {
  left: 0;
}

.p-right {
  right: 0;
}

// ==========================================================================
// WIDTH HELPERS
// ==========================================================================

.fit-content {
  width: fit-content;
}

.w-100 {
  width: 100% !important;
}

// ==========================================================================
// ELLIPSIS HELPERS
// ==========================================================================

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.no-wrap {
  white-space: nowrap;
}

// ==========================================================================
// TEXT ALIGN HELPERS
// ==========================================================================

.to-right {
  margin-left: auto;
}

.to-center {
  margin: 0 auto;
}

.txt-left {
  text-align: left;
}

.txt-right {
  text-align: right;
}

.txt-center {
  text-align: center;
}

.txt-upper {
  text-transform: uppercase;
}

.txt-lower {
  text-transform: lowercase;
}

.txt-light {
  font-weight: 300;
}

.txt-regular {
  font-weight: 400;
}

.txt-strong {
  font-weight: 700;
}

.txt-italic {
  font-style: italic;
}

.txt-capitalize {
  text-transform: capitalize;
}

// ==========================================================================
// CLEARFIX HELPERS
// ==========================================================================

.clearfix {
  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

// ==========================================================================
// MARGINS / PADDINGS HELPERS
// ==========================================================================

// @for $i from 1 through 25 {
//   .mt-#{$i} {
//     margin-top: .8rem * $i;
//   }
// }



@for $i from 0 through 25 {
  @each $position in $positions {

//---------------------------------------------
    // MARGIN
    //---------------------------------------------

    // .m-3 -> margin: 2.4rem  --> 8*3=24
    .m-#{$i} {
      margin: .8rem * $i !important;
    }
    
    // .mt-3 -> margin-top: 2.4rem  --> 8*3=24
    .m#{str-slice($position, 0, 1)}-#{$i} {
      margin-#{$position}: .8rem * $i !important;
    }

    //---------------------------------------------
    // PADDING
    //---------------------------------------------

    // .p-2 -> padding: 1.6rem  --> 8*2=16
    .p-#{$i} {
      padding: .8rem * $i !important;
    }

    // .pl-2 -> padding-left: 1.6rem  --> 8*2=16
    .p#{str-slice($position, 0, 1)}-#{$i} {
      padding-#{$position}: .8rem * $i !important;
    }

  }
}

// ==========================================================================
// SPACE HELPERS
// ==========================================================================

.space {
  &-l {
    margin-left: .4rem;
  }
  &-r {
    margin-right: .4rem;
  }
}



// ==========================================================================
//   NO SELECT HELPERS
// ==========================================================================

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-pointer {
  pointer-events: none;
}

.pointer-all {
  pointer-events: all;
}


// ==========================================================================
// NO SCROLL HELPERS
// ==========================================================================

.body-no-scroll {
  overflow: hidden;
  padding-right: 17px;
}

// ==========================================================================
// EXTRAS
// ==========================================================================

.is {

  &-AD,
  &-SD,
  &-SM {
    padding-bottom: 5rem;

    .snackbar {
      bottom: 6.4rem !important;
    }
  }
}

.pipe {
  position: relative;
  padding-left: 2.4rem;
  display: flex;
  align-items: center;

  &::before {
    background-color: $woodsmoke;
    content: '';
    height: 1.2rem;
    left: 0;
    position: absolute;
    width: .1rem;
  }
}

.separation-line {
  background-color: $iron;
  content: '';
  height: .1rem;
}
