// ==========================================================================
//   COLORS HELPERS
// ==========================================================================

.visited {
  opacity: .5;
}

.disabled,
.is-disabled {
  color: $bombay !important;
  pointer-events: none !important;
  user-select: none !important;

  a {
    @extend .disabled;
  }
}

$colors: (
  white: $white,
  concrete: $concrete,
  iron: $iron,
  bombay: $bombay,
  inverse: $bombay,
  nevada: $nevada,
  abbey: $abbey,
  shark: $shark,
  woodsmoke: $woodsmoke,
  black: $black,
  pomegranate: $pomegranate,
  ko: $pomegranate,
  marrakech: $marrakech,
  warning: $marrakech,
  capri: $capri,
  light-green: $light-green,
  ok: $light-green,
  dusty-lavender: $dusty-lavender,
  blush: $blush,
  faded-blue: $faded-blue,
  burnt-orange: $burnt-orange
);

@each $name, $value in $colors {
  .color-#{$name} {
    color: $value;
  }

  .bg-#{$name} {
    background-color: $value;
  }
}
