// ==========================================================================
//   FONT SIZES HELPERS
//   ==========================================================================

$font-sizes: (
  unit: $unit,
  nano: $nano,
  pico: $pico,
  zetta: $zetta,
  base: $base,
  yotta: $yotta,
  deca: $deca,
  femto: $femto,
  atto: $atto,
  exa: $exa);

@each $name, $value in $font-sizes {
  .txt-#{$name} {
    font-size: $value !important;
  }
}
