/* ==========================================================================
   FLEX HELPERS
   ========================================================================== */

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  &-inline {
    display: inline-flex;
  }
  &-col {
    flex-direction: column;
  }
  &-wrap {
    flex-wrap: wrap;
  }
  &-justify-start {
    justify-content: flex-start;
  }
  &-justify-end {
    justify-content: flex-end;
  }
  &-justify-center {
    justify-content: center;
  }
  &-justify-between {
    justify-content: space-between;
  }
  &-justify-around {
    justify-content: space-around;
  }
  &-align-items-stretch {
    align-items: stretch;
  }
  &-align-items-start {
    align-items: flex-start;
  }
  &-align-items-end {
    align-items: flex-end;
  }
  &-align-items-center {
    align-items: center;
  }
  &-align-items-baseline {
    align-items: baseline;
  }
  &-align-content-start {
    align-content: flex-start;
  }
  &-align-content-end {
    align-content: flex-end;
  }
  &-align-content-center {
    align-content: center;
  }
  &-align-content-stretch {
    align-content: stretch;
  }
  &-align-content-between {
    align-content: space-between;
  }
  &-align-content-around {
    align-content: space-around;
  }
  &-align-self-start {
    align-self: flex-start;
  }
  &-align-self-end {
    align-self: flex-end;
  }
  &-align-self-center {
    align-self: center;
  }
  &-align-self-stretch {
    align-self: stretch;
  }
  &-auto{
    flex:auto;
  }
  &-none {
    flex: none;
  }
}

