/* ==========================================================================
  HIDDEN HELPERS
   ========================================================================== */

.indent {
  left: -999em;
  line-height: 0;
  position: absolute;
  text-indent: -999em;
  top: -999em;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}
