@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';

$module: 'tag-keyword-result';

.#{$module} {

   
  &__btn {
    margin-top: .2rem;
  }

  .mt-0 {
    margin-top: 0;
  }

  .inverse {
    color: $bombay;
  }
  
}