
<div class="tag-keyword-result color-woodsmoke txt-base txt-light" [ngClass]="class">
    <p class="flex">
      <span class="inverse txt-zetta txt-light mr-2">{{ 'TAGKEYWORDRESULT.RESULT' | translate }}</span>
      <span class="tag-keyword-result__item flex flex-align-items-center txt-light txt-zetta bg-concrete pl-1 pr-1">"{{ text }}"</span>
      <span class="ml-2 link txt-zetta txt-light" (click) = "clearSearch()">{{ 'TAGKEYWORDRESULT.CLEARSEARCH' | translate }}</span>
    </p>
</div>