
// ========================================
// ANIMATIONS classes
// ========================================

.a-skeleton{
  @include a-skeleton();
}

.a-from-top {
  -webkit-animation: a-from-top $time-05s ease-out;
  animation: a-from-top $time-05s ease-out;
}

.a-to-top {
  -webkit-animation: a-to-top $time-05s ease-in forwards;
  animation: a-to-top $time-05s ease-in forwards;
}

.a-from-bottom {
  -webkit-animation: a-from-bottom $time-05s ease-out;
  animation: a-from-bottom $time-05s ease-out;
}

.a-to-bottom {
  -webkit-animation: a-to-bottom $time-05s ease-out;
  animation: a-to-bottom $time-05s ease-out;
}

.a-from-right {
  -webkit-animation: a-from-right $time-05s ease-out;
  animation: a-from-right $time-05s ease-out;
}

.a-to-right {
  -webkit-animation: a-to-right $time-05s ease-out;
  animation: a-to-right $time-05s ease-out;
}

.a-from-left {
  -webkit-animation: a-from-left $time-05s ease-out;
  animation: a-from-left $time-05s ease-out;
}

.a-to-left {
  -webkit-animation: a-to-left $time-1s ease-out;
  animation: a-to-left $time-1s ease-out;
}

.a-fade-in {
  -webkit-animation: a-fade-in $time-02s ease-in;
  animation: a-fade-in $time-02s ease-in;
}

.a-fade-in-forward {
  -webkit-animation: a-fade-in $time-05s ease-in forwards;
  animation: a-fade-in $time-05s ease-in forwards;
}

.a-fade-out {
  -webkit-animation: a-fade-out $time-02s ease-out forwards;
  animation: a-fade-out $time-02s ease-out forwards;
}

.a-placeholder {
  animation: a-placeholder .14s ease-in;
}


// ========================================
// ANIMATIONS keyframes
// ========================================


// SKELETON

@-webkit-keyframes o-animSkeleton {
	0% { opacity: .5; }
	100% { opacity: 1;	}
}

@keyframes o-animSkeleton {
	0% { opacity: .5; }
	100% { opacity: 1; }
}


// FADE IN

@-webkit-keyframes a-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes a-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


// FROM TOP

@-webkit-keyframes a-from-top {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
}

@keyframes a-from-top {
  0% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
}


// TO TOP

@-webkit-keyframes a-to-top {
  0% {
    opacity: 1;
  }

  45%,
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}

@keyframes a-to-top {
  0% {
    opacity: 1;
  }

  45%,
  100% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
}


// FROM BOTTOM

@-webkit-keyframes a-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
}

@keyframes a-from-bottom {
  0% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
}


// TO BOTTOM

@-webkit-keyframes a-to-bottom {
  0% {
    opacity: 1;
  }

  45%,
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}

@keyframes a-to-bottom {
  0% {
    opacity: 1;
  }

  45%,
  100% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
}


// FROM RIGHT

@-webkit-keyframes a-from-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
}

@keyframes a-from-right {
  0% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
}


// TO RIGHT

@-webkit-keyframes a-to-right {
  0% {
    opacity: 1;
  }

  45%,
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}

@keyframes a-to-right {
  0% {
    opacity: 1;
  }

  45%,
  100% {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 0;
  }
}


// FROM LEFT

@-webkit-keyframes a-from-left {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
}

@keyframes a-from-left {
  0% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }

  45% {
    opacity: 0;
  }
}


// TO LEFT

@-webkit-keyframes a-to-left {
  0% {
    opacity: 1;
  }

  45%,
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}

@keyframes a-to-left {
  0% {
    opacity: 1;
  }

  45%,
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    opacity: 0;
  }
}


// FADE OUT

@-webkit-keyframes a-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes a-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}


// AUTOFILL

@keyframes a-autofill {
  to {
    background: transparent;
    color: $white;
    -webkit-box-shadow: none;
  }
}

@-webkit-keyframes a-autofill {
  to {
    background: transparent;
    color: $white;
    -webkit-box-shadow: none;
  }
}


// UROBORO

@-webkit-keyframes a-uroboro {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes a-uroboro {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


// FAKE

@-webkit-keyframes a-fake {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}

@keyframes a-fake {
  0% {
    background-position: -468px 0;
  }

  100% {
    background-position: 468px 0;
  }
}


// PLACEHOLDER

@keyframes a-placeholder {
  0% {
    -webkit-transform: translateY(1.5rem);
    transform: translateY(1.5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

// ANIMATION DOWN MORE FILTERS

.more-filters-animation-down{
  animation: animation-down ease .5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; 
  -webkit-animation: animation-down ease .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; 
  -moz-animation: animation-down ease .5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards;
}

@keyframes animation-down{
  0% {
    opacity:0;
    transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    transform:  translate(0px,0px)  ;
  }
}

@-moz-keyframes animation-down{
  0% {
    opacity:0;
    -moz-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -moz-transform:  translate(0px,0px)  ;
  }
}

@-webkit-keyframes animation-down {
  0% {
    opacity:0;
    -webkit-transform:  translate(0px,-25px)  ;
  }
  100% {
    opacity:1;
    -webkit-transform:  translate(0px,0px)  ;
  }
}

// ANIMATION UP MORE FILTERS

.more-filters-animation-up{
  animation: animation-up ease .5s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  animation-fill-mode: forwards; 
  -webkit-animation: animation-up ease .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-fill-mode:forwards; 
  -moz-animation: animation-up ease .5s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -moz-animation-fill-mode:forwards;
}

@keyframes animation-up{
  0% {
    opacity:1;
    transform:  translate(0px,0px);
  }
  100% {
    opacity:0;
    transform:  translate(0px,-25px);
  }
}

@-moz-keyframes animation-up{
  0% {
    opacity:1;
    -moz-transform:  translate(0px,0px);
  }
  100% {
    opacity:0;
    -moz-transform:  translate(0px,-25px);
  }
}

@-webkit-keyframes animation-up {
  0% {
    opacity:1;
    -moz-transform:  translate(0px,0px);
  }
  100% {
    opacity:0;
    -moz-transform:  translate(0px,-25px);
  }
}

