$navbar: 'nav-bar';

.app-wrap {
  min-height: calc(100vh - 6.4rem);
}

.loading-items,
.wrap-marks,
.form-login,
.form-group {
  min-height: 4rem;
  position: relative;
}

.link {
  border-bottom: 1px solid;
  color: $woodsmoke;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
  position: relative;
  text-decoration: none;
  user-select: none;


  &:hover {
    cursor: pointer;

    &::after {
      background-color: $woodsmoke;
      bottom: -2px;
      content: '';
      height: 1px;
      left: 0;
      position: absolute;
      width: 100%;

    }
  }

  &.inverse {
    color: $bombay;

    &:hover {
      color: $concrete;
    }
  }

  &.disabled,
  &.is-disabled {
    pointer-events: none;
  }
}

.btn-close {
  position: absolute;
  right: 0;
  top: 0;
  /* Codigo traido de Nuevo Listado
  color: $black;

  &:hover {
    color: $bombay;
  }

  &.inverse {
    color: $bombay;

    &:hover {
      color: $concrete;
    }
  }*/
}

.txt-feedback {
  display: none;
  font-weight: 300;
}

.has-feedback {
  .txt-feedback {
    display: block;
    font-size: $zetta;
    position: absolute;
  }

  &.error {
    .txt-feedback {
      color: $pomegranate;
    }
  }
}

.form-inline {
  color: $woodsmoke;
  font-size: $base;
  font-weight: 300;

  &__item {
    display: inline-block;
    vertical-align: bottom;
  }
}

.prod-img {
  background: $concrete;
  height: 0;
  overflow: hidden;
  padding-bottom: 139.8%;
  position: relative;
  width: 100%;

}

.prod-tit {
  display: inline-block;
  font-size: $deca;
  vertical-align: middle;

  &--blocked {
    background: $woodsmoke;
    color: $white;
    font-size: $zetta;
    height: 1.6rem;
    margin-left: 1rem;
    padding: 0 .4rem;
  }
}

.countdown {
  line-height: 1;
  margin-bottom: 1.1rem;

  i {
    margin-left: .1rem;
    margin-right: .3rem;
    vertical-align: text-top;
  }
}

.countdown-new {
  line-height: 1.2;
  margin-bottom: $unit;

  i {
    margin-right: .4rem;
    vertical-align: text-bottom;

  }
}

.list-marks {
  position: absolute;

  &--top {
    left: 0;
    padding-left: $unit;
    padding-top: $unit;
    top: 0;

  }

  &--top-right {
    padding-right: $unit;
    padding-top: $unit;
    right: 0;
    top: 0;

  }

  &--bottom-right {
    bottom: 0;
    padding-bottom: $unit;
    padding-right: $unit;
    right: 0;
  }

  &--bottom {
    bottom: 0;
    padding-bottom: $unit;
    padding-right: $unit;
    right: 0;


    .list-marks__item {
      margin-left: .4rem;
    }
  }

  &--labels {
    .list-marks__item {
      width: fit-content;
      line-height: normal;
      height: 1.8rem;
      display: flex;
      align-items: center;

      &:not(:first-child) {
        margin-left: 0;
        margin-top: .4rem;
      }
    }
  }
  &__item {
    cursor: default;

    &:not(:first-child) {
      margin-left: .8rem;
    }

    &--opi {
      margin-top: .2rem;

      i {
        font-size: 2.6rem;
      }
    }
  }
}

.tooltip-extra-info {
  background: $woodsmoke;
  border-radius: 50%;
  height: 1.4rem;
  margin-left: .5rem;
  margin-top: .2rem;
  position: absolute;
  width: 1.4rem;


  i {
    color: $white;
    font-size: $zetta;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}


// -------------------------------------
// NAV-BAR
// -------------------------------------

.#{$navbar} {
  font-size: $zetta;
  font-weight: 300;
  line-height: 1;

  &__icon {
    margin-right: .5rem;
    vertical-align: middle;
  }

  &--thick {
    font-weight: 400;
  }

  &--absolute {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
  }

  &--no-border {
    .#{$navbar}__item {
      &::before {
        display: none;
      }
    }
  }

  &__item {
    position: relative;

    &:not(:first-of-type) {
      padding-left: 3.2rem;
    }

    &.disabled,
    &.is-disabled {
      border-color: $bombay;
      color: $bombay;
      pointer-events: none;

      .link,
      i,
      span {
        border-color: $bombay;
        color: $bombay;
        pointer-events: none;
      }

      &::before {
        background-color: $bombay !important;
      }
    }
  }

  &__actions {
    .#{$navbar}__item {
      font-weight: 400;

      &:hover {
        color: $abbey;
        cursor: pointer;
        transition: color $time-015s ease;
      }
    }


  }

  &--per-page {
    .#{$navbar} {
      &__item {
        margin-left: .8rem;
        position: relative;

        &:not(:first-child) {
          padding-left: .8rem;

          &::before {
            background: $woodsmoke;
            content: '';
            height: .8rem;
            left: 0;
            margin-top: -.4rem;
            position: absolute;
            top: 50%;
            width: 1px;

          }
        }

        &--active {
          font-weight: 400;
          pointer-events: none;

          &:hover {
            cursor: default;
          }

          .link {
            border: 0;
            pointer-events: none;

            &:hover {
              cursor: default;
            }
          }
        }
      }
    }
  }

  &--footer {
    .#{$navbar}__item {
      &:not(:first-child) {
        &::before {
          background: $nevada;
          content: '';
          height: 100%;
          left: $yotta;
          position: absolute;
          top: 0;
          width: 1px;

        }
      }
    }
  }
}

.#{$navbar}-cta {
  vertical-align: middle;

  &__link {
    display: inline-block;
    font-size: $base;
    font-weight: 300;
    margin-right: 1.4rem;
  }

  i {
    font-size: 1.9rem;
    vertical-align: middle;
  }
}

.caption-box {
  font-size: $yotta;
  margin-bottom: 2.2rem;
  min-height: 1.8rem;
  position: relative;
}

.warning-box {
  &__body {
    font-size: $deca;
  }

  &__footer {
    font-size: $base;
  }
}

.shop-list-box {
  &__search {
    padding-bottom: 1rem;
    padding-right: 3.2rem;
    width: 48%;
  }

  &__module {
    padding-right: 2.4rem;

    &+& {
      margin-top: .8rem;
    }
  }

  &__tit {
    font-weight: 300;
    line-height: 1;
  }

  &__list {
    border-top: 1px solid $iron;
  }

  &__item {
    padding: 1.6rem 0;
    position: relative;
  }
}

.filters-box {
  backface-visibility: hidden;
  background: $white;
  left: 0;
  position: fixed;
  top: 5rem;
  z-index: 99;


  &__inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 2150px;
    width: 100%;

  }

  &--big {
    padding: 1.6rem 5% .8rem;
    width: 100%;
  }

  &--sticky {
    position: sticky;
  }
}

.btn-filters {
  cursor: pointer;
}

.status-icon {
  height: 1rem;
  width: 1rem;

  &--big {
    height: 1.2rem;
    width: 1.2rem;
  }
}

.overlay {
  background-color: rgba($black, .8);
  height: 100%;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 104;


  &.inverse {
    background-color: rgba($white, .8);
  }

  &.in-modal {
    justify-content: center;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

.list {
  &--in-modal {
    padding: 0 4.8rem;
  }

  .list--centered {
    margin: auto;
  }

  &__item {
    padding-left: .8rem;
    position: relative;

    &::before {
      background: $nevada;
      border-radius: 50%;
      content: '';
      height: .2rem;
      left: 0;
      position: absolute;
      top: .9rem;
      width: .2rem;
    }
  }
}
