<div class="favourite-list panel clearfix">
    <div *ngIf="productList.length === 0 " class="warning-box__body">
        <p>{{ "FAVOURITE.NORESULTS" | translate }}</p>
    </div>
    <div *ngIf="productList.length > 0 ">
        <ul>
            <li *ngFor="let product of productList">
                <favourite-product-card [item]="product" (addRemoveFavourite)="addRemoveFavourite($event)">
              </favourite-product-card>
            </li>
        </ul>
    </div>
</div>

