@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';


$module: 'favourite-list';

.#{$module} {
    ul li {
        display: block;
        float: left;
        list-style: none;
    }

    li {
        height: 10rem;
        width: 100%;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
  }
  

