
/* mixin for multiline */
@mixin multiLineEllipsis($lineHeight: 1.2em, $lineCount: 1, $bgColor: white){
  overflow: hidden;
  position: relative;
  line-height: $lineHeight;
  max-height: $lineHeight * $lineCount; 
  text-align: justify;
  margin-right: -1em;
  padding-right: 1em;
  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &:after {
    content: '';
    position: absolute;
    right: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bgColor;
  }
}

//--------------------------------------
// STYLE SCROLL
//--------------------------------------

@mixin scrollVerticalStyle {
  //for Firefox
  scrollbar-color: $iron $concrete;
  scrollbar-width: thin;

  //for chrome
  &::-webkit-scrollbar {
    width: .8rem;

    &-track {
      background-color: $concrete;
    }

    &-thumb {
      background-color: $iron;
      border-radius: .7rem;
    }
  }
}

@mixin scrollHorizontalStyle {

  //for chrome
  &::-webkit-scrollbar {
    height: 1rem;

    &-track {
      background-color: $concrete;
    }

    &-thumb {
      background-color: $iron;
      border-radius: .7rem;
    }
  }
}

// ==========================================================================
// Mixin to prefix several properties at once
// @param {Map} $declarations - Declarations to prefix
// @param {List} $prefixes (()) - List of prefixes to print
// ==========================================================================

@mixin vendor-prefix($declarations, $prefixes: ()) {

  @each $property, $value in $declarations {
    @each $prefix in $prefixes {
      #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
  }
}

// ==========================================================================
// Mixin animation skeleton
// ==========================================================================
@mixin a-skeleton() {
  @include vendor-prefix((animation: o-animSkeleton 2.5s cubic-bezier(.49, .22, .57, .88) infinite alternate), webkit moz ms);
  background: $concrete;
}

// ==========================================================================
// To add value to data attribute
// ==========================================================================
@mixin append-attr($x) {
  $sel: &;
  $collector: ();

  @for $i from 1 through length($sel) {
    $s: nth($sel, $i);
    $last: nth($s, -1);

    @if str-slice($last, -1) == ']' {
      // if is just the bare attribute with no value, $offset will be -1, otherwise it will be -2
      $offset: -1;
      $current-x: $x;

      @if str-slice($last, -2) == '"]' {
        // this attribute already has a value, so we need to adjust the offset
        $offset: -2;
      } @else {
        // no attribute value, so add the equals and quotes
        $current-x: '="' + $x + '"';
      }

      $last: str-slice($last, 1, $offset - 1) + $current-x + str-slice($last, $offset);
      $collector: append($collector, set-nth($s, -1, $last), comma);
    } @else {
      // following line will append $x to your non-attribute selector
      $collector: append($collector, selector-append($s, $x), comma);
      // the following line will not change your non-attribute selector at all
      //$collector: append($collector, $s, comma);
    }
  }

  @at-root #{$collector} {
    @content;
  }
}