$txt-body: Verdana, Geneva, Tahoma, sans-serif;


// POSTITIONS VARIABLES
// -------------------------

$unit: .8rem;
$nano: 1rem;
$pico: 1.1rem;
$zetta: 1.2rem;
$meta: 1.3rem;
$base: 1.4rem;
$yotta: 1.6rem;
$deca: 2rem;
$femto: 2.4rem;
$atto: 2.9rem;
$exa: 4.8rem;



// COLORS VARIABLES
// -------------------------

$white: #fff;
$concrete: #f3f3f3;
$iron: #d7d7d8;
$bombay: #aaaaaa;
$nevada: #666666;
$abbey: #525457;
$shark: #323436;
$woodsmoke: #121314;
$black: #000;
$pomegranate: #f42837;
$marrakech: #ffcc33;
$capri: #339dff;
$light-green: #4ca92b;
$dusty-lavender: #b47eb3;
$blush: #f79f79;
$faded-blue: #5eb1bf;
$burnt-orange: #d14900;



// SCREEN SIZES VARIABLES
// -------------------------

$screen-sm: 768px !default;
$screen-md: 1024px !default;
$screen-md-min: $screen-md !default;
$screen-desktop: $screen-md-min !default;
$screen-lg: 1200px !default;
$screen-lg-min: $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;
$screen-xlg: 1600px !default;
$screen-xlg-min: $screen-xlg !default;
$screen-xlg-desktop: $screen-xlg-min !default;
$screen-hd: 1920px !default;
$screen-hd-min: $screen-hd !default;
$screen-hd-desktop: $screen-hd-min !default;



// POSTITIONS VARIABLES
// -------------------------

$positions: (top, bottom, left, right);



// TIMING VARIABLES
// -------------------------

$time-015s: .15s;
$time-02s: .2s;
$time-025s: .25s;
$time-03s: .3s;
$time-04s: .4s;
$time-05s: .5s;
$time-1s: 1s;
$time-15s: 1.5s;
