@import '../../../shared/styles/css/settings/partials/settings.variables';
@import '../../../shared/styles/css/tools/partials/tools.mixins';

$module: 'search';

.#{$module} {
    padding-top: 2rem;
    align-items: center;
    width: 100%;

    &__container {
        width: 90%;
        position: relative;
        align-items: center;
    }

    &__input {
        position: relative;
        flex: 1 1;
        & input {
           width: 100%;
           height: $femto; 
           border-radius: $meta;
           background-color: $concrete;
           position: relative;
           font-size: $zetta;
           border: 1px solid transparent;
           color: $shark;
           padding: 0 32px 0 44px;
           overflow: hidden;
           text-overflow: ellipsis;
           white-space: nowrap;
           outline: none;
        }
    }

    

}