<div class="search">
    <div class="search__container flex">
        <div class="search__input">
            <input name="searchKeyword" placeholder="Buscar" type="text" 
                maxlength="70" autocomplete="off" (keydown)="keyDownFunction($event)" 
                [(ngModel)]="searchKeyword">
        </div>
    </div>
</div>
<tag-keyword-result [class]="'mt-2'" *ngIf="keyword" [text]="keyword" (delete)="onDeleteSearchTag()"></tag-keyword-result>